@font-face {
    font-family: "juju";
    src: url(./assets/Jujutsu\ Kaisen.ttf);
}

@font-face {
    font-family: "pixel";
    src: url(./assets/dpcomic.ttf);
}

::-webkit-scrollbar {
    width: 12px;
    display: none;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    opacity: 0;
}

body{
    margin: 0;
    padding:0;
    overflow: hidden;
}

#background-domain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: auto;
    z-index: -2;
    margin: 0;
    padding: 0;
}

header{
    z-index: 100;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#website1{
    font-family:'juju','Times New Roman';
    margin: 0rem 0rem 0rem 1.5rem;
    font-size: 2rem;
    transition: 0.4s;
    color: black;
}

#website1:hover{
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
}

a{
    text-decoration: none;
    color: black;
}

main{
    z-index: 1;
    position: absolute;
    top: 52vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
}

#user{
    width: 55rem;
    display: block;
    position: absolute;
    top:  44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#left{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

#right{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

main h1{ 
    color: white;
    width: 33rem;
    font-size: 3rem;
    font-family: 'Times New Roman';
    margin: 0rem 21rem ;
    text-shadow: 2px 2px 0px rgb(0, 0, 0), 0 0 0.1em rgb(0, 0, 0);
}

main p{
    color: white;
    font-size: 1.24rem;
    width: 40rem;
    text-align: start;
    margin-bottom: 0rem;
    margin-top: 10px;
    text-shadow: 1.1px 1.1px 0px rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

#appearance{
    top: 39.5rem;
    left: 18rem;
    position: absolute;
    border: 3px solid white;
    border-radius: 2rem;
    width: 18rem;
    transform: translateY(-16.5rem)
}

#hakari{
    top: 34.5rem;
    left: 14.5rem;
    position: absolute;
    border: 2px solid orange;
    border-radius: 2rem;
    width: 20rem;
    height: 18rem;
    transform: translate(-7px,-16.5rem);
    display: block;
    transition: 0.4s;
    cursor: pointer;
}

#hakari:hover{
    border: 2px solid rgb(0, 38, 255);
}

#button{
    border: 0px;
    background-color: transparent;
    display: none;
}

#x{
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    font-weight: 900;
    font-size: 1rem;
    position: absolute;
    z-index: 10;
    top: 3rem;
    left: -22rem;
    display: none;
}

#one{
    text-decoration: underline;
    width: 2rem;
    height: 2rem;
    border: 0px;
    background-color: transparent;
    border-radius: 50%;
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    z-index: 10;
    top: 48.5rem;
    left: -1.1rem;
    display: none;
    color: white;
    text-shadow: 1.5px 1.5px 0px rgb(0, 0, 0), 0 0 0.1em rgb(0, 0, 0);
}

#two{
    width: 2rem;
    height: 2rem;
    border: 0px;
    background-color: transparent;
    border-radius: 50%;
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    z-index: 10;
    top: 48.5rem;
    left: 1.1rem;
    display: none;
    color: white;
    text-shadow: 1.5px 1.5px 0px rgb(0, 0, 0), 0 0 0.1em rgb(0, 0, 0);
}

#x:hover{
background-color: rgb(170, 170, 170)
}

#one:hover, #two:hover{
color: rgb(119, 119, 119);
;
}

#right video{
    margin: 2rem 0rem 0rem -21.5rem;   
    border: 3px solid white;
    border-radius: 2rem;
    width: 18rem;
}

#hand{
    top: 39.7rem;
    left: 39.5rem;
    position: absolute;
    border: 3px solid white;
    border-radius: 2rem;
    width: 15rem;
}

#past{
    display: none;
    top: 42rem;
    left: 96rem;
    position: absolute;
    border: 3px solid black;
    border-radius: 2rem;
    width: 32rem; 
    height: 12rem; 
}

#true{
    display: none;
    top: 18rem;
    left: 92.5rem;
    position: absolute;
    border: 3px solid black;
    border-radius: 2rem;
    width: 17.5rem; 
    height: 15rem; 
}

@media only screen and (max-height: 950px){

    main{
        z-index: 1;
        position: absolute;
        top: 30rem;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    
    #background-domain{
        width: 1920px;
        height: auto;

    }

   
}

@media only screen and (min-width:1920px){
    #background-domain{
        width: 100%;
        height: auto;

    }
}

@media only screen and (max-width: 1860px){
    #user{
        width: 50rem;
    }
    
    #left{
    margin-right: -60px;
    }
    
    #right{
    margin-left: -60px;
    }

    
    main h1{ 
    color: white;
    width: 33rem;
    font-size: 2rem;
    font-family: 'Times New Roman';
    margin: 0rem 21rem ;
    text-shadow: 1px 1px 0px rgb(0, 0, 0), 0 0 0.1em rgb(0, 0, 0);
    }

    main p{
    color: white;
    font-size: 1.2rem;
    width: 40rem;
    text-align: start;
    margin-bottom: 0rem;
    margin-top: 10px;
    text-shadow: 1.1px 1.1px 0px rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    }

    #appearance{
        transform: translateY(-20.5rem)
    }

    #hand{
        top: 35.2rem;
        left: 39.5rem;
        position: absolute;
        border: 3px solid white;
        border-radius: 2rem;
        width: 15rem;
    }

    #past{
        display: none;
        top: 39rem;
        left: 90rem;
        position: absolute;
        border: 3px solid black;
        border-radius: 2rem;
        width: 30rem; 
        height: 10rem; 
    }
    
    #true{
        display: none;
        top: 17rem;
        left: 86.5rem;
        position: absolute;
        border: 3px solid black;
        border-radius: 2rem;
        width: 15rem; 
        height: 12rem; 
    }

    #hakari{
        top: 32.5rem;
        left: 15.5rem;
    }
    

    #x{
        top: 1rem;
        left: -21rem;
    }
    
    #one{
        top: 46.5rem;
        left: 0rem;
    }
    
    #two{
        top: 46.5rem;
        left: 2rem;
    }
}

