@font-face {
    font-family: "juju";
    src: url(./assets/Jujutsu\ Kaisen.ttf);
}

@font-face {
    font-family: "pixel";
    src: url(./assets/dpcomic.ttf);
}

::-webkit-scrollbar {
    width: 10px;
    display: none;
}
  
::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 5rem;
    opacity: 0;
}

body{
    margin: 0;
    padding:0;
    overflow: hidden;
    background-image: url();
    background-size:cover;
    background-repeat: repeat;
    background-position: center center;
}


header{
    z-index: 10;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#website1{
    font-family:'juju','Times New Roman';
    margin: 0rem 0rem 0rem 1.5rem;
    font-size: 1.5rem;
    transition: 0.4s;
    color: white;
    text-shadow: 0px 0px 10px black;

}

#website1:hover{
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
}

#domain{
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}



main{
    z-index: 0;
    position: absolute;
    top:30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
}

#user{
    z-index: -1;
    width: 55rem;
    display: block;
    position: relative;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -5%);
    margin-bottom: 20px;
}

#left{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

#right{
    margin-left: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

main h1{ 
    color: white;
    width: 100%;
    font-size: 3rem;
    font-family: 'Times New Roman';
    margin: 0rem 21rem ;
    text-shadow: 2px 2px 0px rgb(0, 0, 0), 0 0 0.1em rgb(0, 0, 0);
}

main p{
    color: white;
    font-size: 1.24rem;
    width: 40rem;
    text-align: start;
    margin-bottom: 0rem;
    margin-top: 10px;
    text-shadow: 1.1px 1.1px 0px rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

#mangaAnime{
    display:flex; 
    margin: 0; 
    flex-direction: row; 
    width: 23rem;
}

#appearance{
    top: 39.5rem;
    left: 0rem;
    position: absolute;
    border: 3px solid white;
    border-radius: 2rem;
    width: 18rem;
    transform: translateY(-16.5rem)
}

#right video{
    margin: 2rem 0rem 0rem -21.5rem;   
    border: 3px solid white;
    border-radius: 2rem;
    width: 18rem;
}

#hand{
    top: 39.7rem;
    left: 22.5rem;
    position: absolute;
    border: 3px solid white;
    border-radius: 2rem;
    width: 15rem;
}

#domain-info{
width: 19rem; 
transform: translatex(10rem);
margin-top: 20px;
}
#extra{
   width: 21rem; 
   transform: translate(-9.5rem, 0rem);
    margin-top: 25px;
}

#translation{
    width: 21rem; 
    transform: translateX(10rem); 
    margin-top: -11rem;
}

#past{
    display: none;
    top: 40.5rem;
    left: 78rem;
    position: absolute;
    border: 3px solid black;
    border-radius: 2rem;
    width: 32rem; 
    height: 12rem; 
}

#true{
    display: none;
    top: 18rem;
    left: 65%;
    position: absolute;
    border: 3px solid black;
    border-radius: 2rem;
    width: 17.5rem; 
    height: 15rem; 
}

#pain{
    display: none;
    top: 18.5rem;
    left: 74.5rem;
    position: absolute;
    border: 3px solid black;
    border-radius: 2rem;
    width: 16.5rem; 
    height: 12.5rem; 
}

#pain1{
    display: none;
    top: 18rem;
    left: 74rem;
    position: absolute;
    border: 3px solid black;
    border-radius: 2rem;
    width: 16.5rem; 
    height: 16.5rem; 
}

#pain2{
    display: none;
    top: 42%;
    left: 74rem;
    position: absolute;
    border: 3px solid black;
    border-radius: 2rem;
    width: 16.5rem; 
    height: 12.5rem; 
}
@media only screen and (min-height:1080px){
    main{
        top:35rem;
    }
    
    #user{
        transform: translate(-50%, 0%);
    }
}

@media only screen and (max-width: 1860px){

    #pain2{

        top: 41.5%;
        left: 67.5rem;
        width: 16rem; 
        height: 12rem; 
    }

    #pain1{

        top: 17rem;
        left: 67rem;

    }

    #pain{
        top: 16.5rem;
    left: 67.5rem;

    }

    #right{
        margin-left: 27rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }

    main{

        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
    }

    #user{
        width: 50rem;
    }
    
    main h1{ 
    color: white;
     width: 100%;
    font-size: 2rem;
    font-family: 'Times New Roman';
    margin: 0rem 21rem ;
    text-shadow: 1px 1px 0px rgb(0, 0, 0), 0 0 0.1em rgb(0, 0, 0);
    }

    main p{
    color: white;
    font-size: 1.2rem;
    width: 40rem;
    text-align: start;
    margin-bottom: 0rem;
    margin-top: 10px;
    text-shadow: 1.1px 1.1px 0px rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    }

    #appearance{
        transform: translateY(-20rem)
    }

    #hand{
        top: 36rem;
    }

    #past{
        display: none;
        top: 38rem;
        left: 71rem;
        width: 30rem; 
        height: 10rem; 
    }
    
    #true{
   
        top: 17rem;
        left: 68.5rem;
 
        width: 15rem; 
        height: 12rem; 
    }

    #hakari{
        top: 32.5rem;
        left: 61.5rem;
    }
    

}

@media only screen and (max-width:1740px){

    body{
        margin: 0;
        padding:0;
        overflow: auto;
    }


    #pain2{

        top: 41.5%;
        left: 41.5rem;
  
    }

    #user{
        width: 40rem;
  

    }

    #true{
        display: none;
        top: 46%;
        left: 60%;
        transform: translate(-50%, -50%) ;
        position: absolute;
        border: 3px solid black;
        border-radius: 2rem;
        width: 15rem; 
        height: 13rem; 
    }
    
    main{
    top: 69rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
}


    
    #right{
        margin-left: 1rem;
    }


    #background-domain{
        top: 80%;
      
    }
    #past{

        left: 45rem;

    }

    #pain{
 
    left: 41.5rem;

    }

    
    #pain1{
       top: 32%;
        left: 41rem;

    }

}

@media only screen and (max-width:1340px){

  
    body{
        margin: 0;
        padding:0;
        overflow: auto;
    }

    #pain2{

        top: 83%;
        left: 1.5rem;
  
    }

    #pain{
        top: 65%;
        left: 1.5rem;

    }


    #pain1{
        top: 66.7%;
        left: 1rem;

    }


    main{
    top: 94rem;
    display: flex;
    flex-direction: column;
}

#left{
    margin-bottom: 20px;
}

#hakari{
 top: 81.5%;
    left: 1.5rem;

}




    #past{
        top: -13%;
        left: 8rem;
        height: 10rem;
        width: 25rem;

    }

    #true{
        top: 75%;
        left: 22%;
    }
}

@media only screen and (max-width: 700px){



    body{
        margin: 0;
        padding:0;
        overflow: auto;
    }
    #user{
        width: 100%;
    }

    main{
    position: relative;
    height: 10rem;
    top: 60px;
    margin-bottom: 35px;
    }

    main p{
        width: 85vw;
    }
  

    #appearance{
        top: 0;
        position: relative;
        border: 3px solid white;
        border-radius: 2rem;
        width: 18rem;
        transform: translateY(0);
        margin: 25px 0px 5px 0px;
    }
    
    #right video{
        margin: 20px 0px 20px 0px;   
        border: 3px solid white;
        border-radius: 2rem;
        width: 18rem;
    }
    
    #hand{
        top: 0;
        left: 0;
        position: relative;
        border: 3px solid white;
        border-radius: 2rem;
        width: 20rem;
        margin: 25px 0px 5px 0px;
    }

    #domain-info{
        width: 85vw;
        transform: translatex(0)
    }
    #extra{
        width: 85vw;
        transform: translatex(0)
    }
    #translation{
        width: 85vw; 
        transform: translateX(0); 
        margin: 0;
    }
    #mangaAnime{
        display:block; 
        margin: 0; 
        width: 9rem;
    }
    
#past{
    top:  -100px;
    left: 0;
    position: relative;
    width: 19rem; 
    height: 8rem; 
    margin-bottom: -80px;
}

#true{
    display: none;
    top: 0;
    left: 11rem;
    position: relative;
    width: 20.5rem; 
    height: 20rem; 
    margin: -10px 0px -110px 0px;
}

#pain{
    display: none;
    top: -160px;
    left:0;
    position: relative;
    border: 3px solid black;
    border-radius: 2rem;
    width: 20.5rem; 
    height: 16.5rem; 
    margin-bottom: -130px;
}

#pain1{
    display: none;
    top: -170px;
    left: 0;
    position: relative;
    border: 3px solid black;
    border-radius: 2rem;
    width: 18.5rem; 
    height: 18.5rem; 
    margin-bottom: -150px;
}

#pain2{
    display: none;
    top: -160px;
    left: 0;
    position: relative;
    border: 3px solid black;
    border-radius: 2rem;
    width: 20.5rem; 
    height: 17.5rem; 
    margin-bottom: -135px;
}
}

